/* ----- [공통] Header.CSS ----- */

/* util */
.util {
    padding-top: 40px; padding-bottom: 40px;
}

.util_row { 
    display: flex; align-items: center; gap: 30px;
    font-size: 14px; font-weight: 600; color: var(--gray-700);
}

.util_logo {
    align-items: flex-start; width: 146px; height: 20px;
}

.util_spacer { flex:1 }

/* gnb */
.gnb {
    display: flex; align-items: center; 
    height: 50px; background: var(--red-200);
}

.gnb_row {
    display: flex; justify-content: space-between; align-items: center;
    width: 1200px; overflow-x: visible; white-space: nowrap;
}

.menu {
    display: flex; flex-wrap: nowrap; white-space: nowrap;
    gap: 50px; font-size: 18px; font-weight: 700;
    position: relative; overflow-x: visible;
}

.menu-item {
    position: relative;
}

.submenu {
    display: none;
    position: absolute;
    top: 35px; /* gnb 아래쪽 */
    left: 0;
    background: #ffffff;
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
    min-width: 150px;
    z-index: 200;
}

.submenu a {
    display: block;
    padding: 10px 16px;
    font-size: 15px;
    color: var(--gray-900);
    white-space: nowrap;
}

.submenu a:hover {
    background: var(--red-100);
    color: var(--red-700);
}

/* JS 토글 시 열림 상태 */
.menu-item.active .submenu {
    display: block;
}


/* .menu .menu-active { color: var(--red-900); } */

.gnb_row .gnb_text {
    display: flex; justify-content: right;
}

.gnb_text a {
    font-size: 18px; font-weight: 500;
    color: var(--red-500);
}

/* GNB_SUB */
.gnb_sub { background: var(--red-700); }

.gnb_sub_row {
    display: flex; align-items: center;
    width: 1200px; height: 30px;
}

.breadcrumb {
    display: flex; align-items: center;
    font-size: 12px; font-weight: 400; color: #ffffff;
}

.xi-angle-right-min { margin: 0 10px; } /* > 웹 아이콘 */

/* ----- [공통] Header.CSS 끝 ----- */