<!doctype html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BNK 예금가입 프로세스</title>
  <link rel="stylesheet" href="./src/main/resources/static/css/common/style_common.css">
  <link rel="stylesheet" href="/src/main/resources/static/css/common/style_font.css">
  <link href="//cdn.jsdelivr.net/xeicon/2/xeicon.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/src/main/resources/static/css/common/product/style_layout.css">

  <script src="/src/main/resources/static/js/_header.js" defer></script>
</head>
<body>

  <div id="joinContainer" class="join-step"></div>

  <script src="/src/main/resources/static/js/join.js"></script>
</body>
</html>
