:root {
    --red-900: #D03238; /* 메인 컬러 */
    --red-700: #E1545A;
    --red-500: #FFB9BD;
    --red-300: #FFD1D3;
    --red-200: #FFE9EA;
    --red-100: #FFF6F7;
    --orange-900: #FF8800;
    --orange-100: #FFF3E5;
    --green-900: #02A84D;
    --green-100: #E9FFF3;
    --blue-900: #0080E2;
    --blue-100: #E9F8FF;
    --white: #ffffff;
    --gray-900: #333333;
    --gray-700: #666666;
    --gray-500: #B9B9B9;
    --gray-300: #DEDEDE;
    --gray-100: #F8F8F8;
    --container: 1200px;
}

* {
    box-sizing:border-box
}

html,body {
    height:100%
}

a {
    color: inherit; 
    text-decoration: none;
}

.container {
    width: var(--container);
    max-width: calc(100% - 40px);
    margin: 0 auto;
}