<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사이트 기본설정</title>

    <link rel="stylesheet" th:href="@{/css/admin/admin_category.css}">
    <link rel="stylesheet" th:href="@{/css/admin/admin_productList.css}">

    <script th:src="@{/js/admin/admin_productList.js}" defer></script>
    <script th:src="@{/js/admin/admin_category.js}" defer></script>
</head>
<body>
<div class="container" style="display:flex;">
    <div class="main-left">
        <img th:src="@{/images/admin/Busanbank_CI-W.png}" alt="BNK 부산은행" class="main-logo">
        <div class="first-line">
            <span class="name_sp">Admin</span>
            <div class="name-right">
                <span class="welcome_sp">환영합니다!</span>
                <button class="logout_btn">
                    <img th:src="@{/images/admin/log-out.png}" alt="로그아웃 버튼" class="logout_img">
                </button>
            </div>
        </div>

        <div class="search-box">
            <input type="text" id="search_input" placeholder="Search...">
            <button class="search_btn">
                <img th:src="@{/images/admin/magnifier.png}" alt="검색 버튼" class="search_img">
            </button>
        </div>

        <div class="category1">
            <div class="category1_img_div">
                <img th:src="@{/images/admin/cogwheel.png}" alt="환경설정" style="width: 26px;height: 26px;">
            </div>
            <span class="category_sp">환경설정</span>
        </div>
        <ul class="category1-ul">
            <li class="category-li"><a href="#" class="category-a">권리자 계정관리</a></li>
            <li class="category-li"><a href="#" class="category-a">보안 설정</a></li>
            <li class="category-li"><a href="#" class="category-a">인증서/OTP 관리</a></li>
            <li class="category-li"><a href="#" class="category-a">사이트 기본 설정</a></li>
            <li class="category-li"><a href="#" class="category-a">정책·약관 관리</a></li>
            <li class="category-li"><a href="#" class="category-a">API 키 / 외부 연동 관리</a></li>
            <li class="category-li"><a href="#" class="category-a">공지사항 관리 (내부)</a></li>
        </ul>

        <div class="category2">
            <div class="category2_img_div">
                <img th:src="@{/images/admin/banknotes.png}" alt="은행 상품 관리" style="width: 26px;height: 26px;">
            </div>
            <span class="category_sp">은행 상품 관리</span>
        </div>
        <ul class="category2-ul">
            <li class="category-li"><a href="#" class="category-a">상품 목록 관리</a></li>
            <li class="category-li"><a href="#" class="category-a">상품 상세 관리</a></li>
            <li class="category-li"><a href="#" class="category-a">상품 약관 관리</a></li>
            <li class="category-li"><a href="#" class="category-a">상품 분류 관리</a></li>
            <li class="category-li"><a href="#" class="category-a">금리·환율 관리</a></li>
            <li class="category-li"><a href="#" class="category-a">상품 가입 현황 조회</a></li>
            <li class="category-li"><a href="#" class="category-a">금융 감정 분석 관리</a></li>
            <li class="category-li"><a href="#" class="category-a">비트코인/금/오일 시세 관리</a></li>
            <li class="category-li"><a href="#" class="category-a">상품 번역 관리</a></li>

        </ul>

        <div class="category3">
            <div class="category3_img_div">
                <img th:src="@{/images/admin/user.png}" alt="회원 관리" style="width: 26px;height: 26px;">
            </div>
            <span class="category_sp">회원 관리</span>
        </div>
        <ul class="category3-ul">
            <li class="category-li"><a href="#" class="category-a">회원 목록 관리</a></li>
        </ul>

        <div class="category4">
            <div class="category4_img_div">
                <img th:src="@{/images/admin/list.png}" alt="게시판 관리" style="width: 26px;height: 26px;">
            </div>
            <span class="category_sp">게시판 관리</span>
        </div>
        <ul class="category4-ul">
            <li class="category-li"><a href="#" class="category-a">권리자 계정관리</a></li>
            <li class="category-li"><a href="#" class="category-a">보안 설정</a></li>
            <li class="category-li"><a href="#" class="category-a">인증서/OTP 관리</a></li>
            <li class="category-li"><a href="#" class="category-a">사이트 기본 설정</a></li>
            <li class="category-li"><a href="#" class="category-a">정책·약관 관리</a></li>
            <li class="category-li"><a href="#" class="category-a">API 키 / 외부 연동 관리</a></li>
            <li class="category-li"><a href="#" class="category-a">공지사항 관리 (내부)</a></li>
        </ul>

        <div class="category5">
            <div class="category5_img_div">
                <img th:src="@{/images/admin/receiver.png}" alt="고객센터 관리" style="width: 26px;height: 26px;">
            </div>
            <span class="category_sp">고객센터 관리</span>
        </div>
        <ul class="category5-ul">
            <li class="category-li"><a href="#" class="category-a">권리자 계정관리</a></li>
            <li class="category-li"><a href="#" class="category-a">보안 설정</a></li> <li class="category-li"><a href="#" class="category-a">인증서/OTP 관리</a></li>
            <li class="category-li"><a href="#" class="category-a">사이트 기본 설정</a></li>
            <li class="category-li"><a href="#" class="category-a">정책·약관 관리</a></li>
            <li class="category-li"><a href="#" class="category-a">API 키 / 외부 연동 관리</a></li>
            <li class="category-li"><a href="#" class="category-a">공지사항 관리 (내부)</a></li>
        </ul>

        <div class="footer_div">
                <span>COPYTRIGHT <br>
                    © 2014 BUSANBANK. ALL RIGHTS RESERVED.
                </span>
        </div>
    </div>

    <div class="main-right">
        <div class="productList_title">
            <span class="title_sp">사이트 기본설정</span>
            <div>
                <button class="title_btn">설정항목순</button>
                <button class="title_btn">수정일순</button>
                <button class="title_btn">상태</button>
            </div>
        </div>

        <table>
            <tr style="background-color: #E1545A;color:white;">
                <th style="border-radius: 5px 0 0 0;">No.</th>
                <th>설정항목</th>
                <th>현재값</th>
                <th>설명</th>
                <th style="border-radius: 0 5px 0 0;">관리</th>
            </tr>
            <tr class="content_tr">
                <td>1</td>
                <td>사이트명</td>
                <td>BNK 부산은행</td>
                <td>웹사이트 공식 명칭</td>
                <td>
                    <button class="productList_btn">
                        <img th:src="@{/images/admin/free-icon-pencil-7175371.png}" alt="수정 버튼" style="  width: 100%;height: 100%;object-fit: contain;">
                    </button>
                </td>
            </tr>
            <tr class="content_tr">
                <td>2</td>
                <td>회사주소</td>
                <td>부산광역시 중구 중앙대로 81</td>
                <td>회사 소재지 주소 정보</td>
                <td>
                    <button class="productList_btn">
                        <img th:src="@{/images/admin/free-icon-pencil-7175371.png}" alt="수정 버튼" style="  width: 100%;height: 100%;object-fit: contain;">
                    </button>
                </td>
            </tr>
            <tr class="content_tr">
                <td>3</td>
                <td>전화번호</td>
                <td>051-600-0400</td>
                <td>고객 문의 전화번호</td>
                <td>
                    <button class="productList_btn">
                        <img th:src="@{/images/admin/free-icon-pencil-7175371.png}" alt="수정 버튼" style="  width: 100%;height: 100%;object-fit: contain;">
                    </button>
                </td>
            </tr>
            <tr class="content_tr">
                <td>4</td>
                <td>현재버전</td>
                <td>2.5.1</td>
                <td>웹사이트 현재 버전</td>
                <td>
                    <button class="productList_btn">
                        <img th:src="@{/images/admin/free-icon-pencil-7175371.png}" alt="수정 버튼" style="  width: 100%;height: 100%;object-fit: contain;">
                    </button>
                </td>
            </tr>
            <tr class="content_tr_last">
                <td style="border-radius: 0 0 0 5px;">5</td>
                <td>배너타이틀</td>
                <td>2026년 금리 인상 안내</td>
                <td>메인페이지 배너 타이틀</td>
                <td style="border-radius: 0 0 5px 0;">
                    <button class="productList_btn">
                        <img th:src="@{/images/admin/free-icon-pencil-7175371.png}" alt="수정 버튼" style="  width: 100%;height: 100%;object-fit: contain;">
                    </button>
                </td>
            </tr>
        </table>

        <div class="page_div">
            <ul class="pagenation">
                <li><a href="#" class="page2"><span class="prev"></span></a></li>
                <li><a href="#" class="page1">1</a></li>
                <li><a href="#" class="page2"><span class="next"></span></a></li>
            </ul>
        </div>


    </div>
</div>
</body>
</html>