<div th:replace="~{member/_head.html}"></div>
    <main>
        <div class="board">

            <div class="login-item">
                <img src="/images/member/Family-Font.png">

                <div class="login-area">
                    <h2>로그인</h2>
                    <div class="login-box">
                        <div class="auth-area">
                            <p>금융인증서</p>
                            <button type="submit" class="auth-button">금융인증서 로그인</button>
                        </div>

                        <div class="normal-area">
                            <p>홈페이지 회원</p>
                            <input type="text" name="id" placeholder="아이디 입력" >
                            <input type="password" name="pw" placeholder="비밀번호 입력">
                            <button type="submit" class="normal-button">로그인</button>
                            <div class="login-link">
                                <a href="/member/find/id">아이디 찾기</a>
                                <a href="/member/find/pw">비밀번호 찾기</a>
                                <a href="/member/signup">회원가입</a>
                            </div>
                        </div>



                        
                    </div>

                </div>

            </div>




        </div>

    </main>
<div th:replace="~{member/_tail.html}"></div>